**/.DS_Store
**/*~
**/*.swp
**/*.swo
**/*.lock
**/*.log
**/*.tmp
**/Thumbs.db
**/*.bk
**/*.pdf
**/*.bmp
**/*.png
**/*.jpg
**/*.svg
**/*.fig
**/*.mat
**/*.xls
**/*.docx
**/*.doc
**/*.xls
**/*.xlsx
**/*.html
**/*.pyc
/.ipynb_checkpoints
